<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-linkedin"></i>
            </div>

            <div class="f-info-brand mt-2">&copy; Stayza Pvt. Ltd.</div>
            <!-- <div class="f-info-links mt-2">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </div> -->
            <div class="signupLoginMsg mt-2">
                <% if(!currUser){ %>
                    Please sign-up or log-in to create or edit listings, and use other features :)
                <% } %>
            </div>
        </div>
    </footer>
</body>
</html>