body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 10px;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials , .f-info-brand{
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 0.6rem;
    cursor: pointer;
}

.f-info{
    display:flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}



/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;

}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}



/* new page and edit page*/
.add-btn , .edit-btn{
    background-color: #fe424d !important;
    color: white !important;
    border: none !important;
}

.editPageImgPreview{
    height: 200px;
    width: 300px;
}

.form-control.dropdown-toggle::after {
  float: right;
  margin-top: 0.6rem;
}



/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}



/* map styling */
#map {
    height: 400px;
    width: 85vh;
}





/* filters */
#filters{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-link{
    text-decoration: none;
    color: inherit;
}

.filter{
    margin-top: 2rem;
    margin-right: 4rem;
    text-align: center;
    opacity: 0.7
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.filter i{
    font-size: 1.1rem;
}



/* search */
.search-btn{
    background-color: #f3424d !important;
    color: white !important;
    transition: transform 0.1s ease;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}

.search-btn:active{
    transform: scale(0.97);
    background-color: white !important;
    color: black !important;
}

.search-btn i{
    display: inline;
    margin-right: 0.5rem;
}

.search-inp{
    padding: 0.5rem 3rem 0.5rem 3rem !important;
}


.signupLoginMsg{
    display: inline-block;
}